In [45]:
import pandas as pd
from geopy.distance import great_circle
import datetime
import matplotlib.pyplot as plt

In [46]:
#Loading data into DataFrame and drop any row that has NaN value

df = pd.read_csv('/Users/cvsox/dev/Seattle_Track_2/Examples/data/AIS_ASCII_by_UTM_Month/2017/Example_COLREGs_Interactions_UTM11.csv')
print(df.shape)
#df = df.dropna()
#print(df.shape)

(20585, 17)

In [47]:
#df['MMSI'].unique()
#df['COG'].describe(), df['COG'].describe(), df['Heading'].describe()
print('There are {} unique attributes in this data'.format(len(df.columns)))
print('There are {} unique columns: {}' .format(len(df.columns), df.columns.values))
df.head()
#for i in df.columns:
#    print(i, df[i].describe())

There are 17 unique attributes in this data
There are 17 unique columns: ['COLREG_Type' 'MMSI' 'BaseDateTime' 'LAT' 'LON' 'SOG' 'COG' 'Heading'
 'VesselName' 'IMO' 'CallSign' 'VesselType' 'Status' 'Length' 'Width'
 'Draft' 'Cargo']

,COLREG_Type,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo
0,Overtaking,372747000,12/3/17 9:00:16,33.648643,-120.275227,0,0,0,CYGNUS LEADER,IMO9381249,3EKK5,1004,NaN,199.94,32.26,10.0,NaN
1,Overtaking,372747000,12/3/17 9:00:36,33.648692,-120.274767,0,0,0,CYGNUS LEADER,IMO9381249,3EKK5,1004,NaN,199.94,32.26,10.0,NaN
2,Overtaking,372747000,12/3/17 9:01:00,33.648742,-120.274307,0,0,0,CYGNUS LEADER,IMO9381249,3EKK5,1004,NaN,199.94,32.26,10.0,NaN
3,Overtaking,372747000,12/3/17 9:01:20,33.648792,-120.273847,0,0,0,CYGNUS LEADER,IMO9381249,3EKK5,1004,NaN,199.94,32.26,10.0,NaN
4,Overtaking,372747000,12/3/17 9:01:40,33.648840,-120.273387,0,0,0,CYGNUS LEADER,IMO9381249,3EKK5,1004,NaN,199.94,32.26,10.0,NaN

# If you drop rows with NA, value, you have left with one COLREQ_TYPE

In [48]:
# objective function  #one-hot encoded
#df.city=df.city.astype('category').cat.codes
df.COLREG_Type = df.COLREG_Type.astype('category').cat.codes
print(df.head())

colreg_type = df.COLREG_Type.describe()

   COLREG_Type       MMSI     BaseDateTime        LAT         LON  SOG  COG  \
0            2  372747000  12/3/17 9:00:16  33.648643 -120.275227    0    0
1            2  372747000  12/3/17 9:00:36  33.648692 -120.274767    0    0
2            2  372747000  12/3/17 9:01:00  33.648742 -120.274307    0    0
3            2  372747000  12/3/17 9:01:20  33.648792 -120.273847    0    0
4            2  372747000  12/3/17 9:01:40  33.648840 -120.273387    0    0

   Heading      VesselName          IMO CallSign  VesselType Status  Length  \
0        0   CYGNUS LEADER   IMO9381249    3EKK5        1004    NaN  199.94
1        0   CYGNUS LEADER   IMO9381249    3EKK5        1004    NaN  199.94
2        0   CYGNUS LEADER   IMO9381249    3EKK5        1004    NaN  199.94
3        0   CYGNUS LEADER   IMO9381249    3EKK5        1004    NaN  199.94
4        0   CYGNUS LEADER   IMO9381249    3EKK5        1004    NaN  199.94

   Width  Draft  Cargo
0  32.26   10.0    NaN
1  32.26   10.0    NaN
2  32.26   10.0    NaN
3  32.26   10.0    NaN
4  32.26   10.0    NaN

In [49]:
# MMSI
df.MMSI = df.MMSI.astype('category').cat.codes
#mmsi = df.MMSI.describe()
print(df.head())

   COLREG_Type  MMSI     BaseDateTime        LAT         LON  SOG  COG  \
0            2     1  12/3/17 9:00:16  33.648643 -120.275227    0    0
1            2     1  12/3/17 9:00:36  33.648692 -120.274767    0    0
2            2     1  12/3/17 9:01:00  33.648742 -120.274307    0    0
3            2     1  12/3/17 9:01:20  33.648792 -120.273847    0    0
4            2     1  12/3/17 9:01:40  33.648840 -120.273387    0    0

   Heading      VesselName          IMO CallSign  VesselType Status  Length  \
0        0   CYGNUS LEADER   IMO9381249    3EKK5        1004    NaN  199.94
1        0   CYGNUS LEADER   IMO9381249    3EKK5        1004    NaN  199.94
2        0   CYGNUS LEADER   IMO9381249    3EKK5        1004    NaN  199.94
3        0   CYGNUS LEADER   IMO9381249    3EKK5        1004    NaN  199.94
4        0   CYGNUS LEADER   IMO9381249    3EKK5        1004    NaN  199.94

   Width  Draft  Cargo
0  32.26   10.0    NaN
1  32.26   10.0    NaN
2  32.26   10.0    NaN
3  32.26   10.0    NaN
4  32.26   10.0    NaN

In [42]:
#BaseDateTime -> convert to unique 
#basedatetime = df.BaseDateTime.describe()
#basedatetime

array(['12/2/17 9:00:30', '12/2/17 9:00:50', '12/2/17 9:01:14', ...,
       '12/3/17 4:35:44', '12/3/17 4:36:00', '12/3/17 4:36:14'],
      dtype=object)

In [50]:
LAT = df.LAT.describe()
LAT

count    20585.000000
mean        33.758988
std          0.076469
min         33.628018
25%         33.706140
50%         33.758328
75%         33.804875
max         34.028930
Name: LAT, dtype: float64

In [8]:
LON = df.LON.describe()
LON

count    20585.000000
mean      -119.229006
std          1.739290
min       -120.448252
25%       -119.663153
50%       -119.191873
75%       -118.778308
max        119.010018
Name: LON, dtype: float64

In [9]:
SOG = df.SOG.describe()
SOG

count    20585.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: SOG, dtype: float64

In [10]:
COG = df.COG.describe()
COG

count    20585.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: COG, dtype: float64

In [11]:
heading = df.Heading.describe()
heading

count    20585.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: Heading, dtype: float64

In [12]:
#vesselname = df.VesselName.describe()
#vesselname
df.VesselName = df.VesselName.astype('category').cat.codes
#mmsi = df.MMSI.describe()
print(df.head())

   COLREG_Type  MMSI     BaseDateTime        LAT         LON  SOG  COG  \
0            2     1  12/3/17 9:00:16  33.648643 -120.275227    0    0
1            2     1  12/3/17 9:00:36  33.648692 -120.274767    0    0
2            2     1  12/3/17 9:01:00  33.648742 -120.274307    0    0
3            2     1  12/3/17 9:01:20  33.648792 -120.273847    0    0
4            2     1  12/3/17 9:01:40  33.648840 -120.273387    0    0

   Heading  VesselName          IMO CallSign  VesselType Status  Length  \
0        0           0   IMO9381249    3EKK5        1004    NaN  199.94
1        0           0   IMO9381249    3EKK5        1004    NaN  199.94
2        0           0   IMO9381249    3EKK5        1004    NaN  199.94
3        0           0   IMO9381249    3EKK5        1004    NaN  199.94
4        0           0   IMO9381249    3EKK5        1004    NaN  199.94

   Width  Draft  Cargo
0  32.26   10.0    NaN
1  32.26   10.0    NaN
2  32.26   10.0    NaN
3  32.26   10.0    NaN
4  32.26   10.0    NaN

In [20]:
df.IMO = df.IMO.astype('category').cat.codes
print(df.head())

   COLREG_Type  MMSI     BaseDateTime        LAT         LON  SOG  COG  \
0            2     1  12/3/17 9:00:16  33.648643 -120.275227    0    0
1            2     1  12/3/17 9:00:36  33.648692 -120.274767    0    0
2            2     1  12/3/17 9:01:00  33.648742 -120.274307    0    0
3            2     1  12/3/17 9:01:20  33.648792 -120.273847    0    0
4            2     1  12/3/17 9:01:40  33.648840 -120.273387    0    0

   Heading  VesselName  IMO CallSign  VesselType Status  Length  Width  Draft  \
0        0           0    2    3EKK5        1004    NaN  199.94  32.26   10.0
1        0           0    2    3EKK5        1004    NaN  199.94  32.26   10.0
2        0           0    2    3EKK5        1004    NaN  199.94  32.26   10.0
3        0           0    2    3EKK5        1004    NaN  199.94  32.26   10.0
4        0           0    2    3EKK5        1004    NaN  199.94  32.26   10.0

   Cargo
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN

In [21]:
df.CallSign.unique()

array([' 3EKK5', ' V7VK7', ' A8LD3', ' V7EJ4', ' LAEK7', ' 9V9352'],
      dtype=object)

In [22]:
df.CallSign = df.CallSign.astype('category').cat.codes
print(df.head())
#callsign = df.CallSign.describe()
#callsign

   COLREG_Type  MMSI     BaseDateTime        LAT         LON  SOG  COG  \
0            2     1  12/3/17 9:00:16  33.648643 -120.275227    0    0
1            2     1  12/3/17 9:00:36  33.648692 -120.274767    0    0
2            2     1  12/3/17 9:01:00  33.648742 -120.274307    0    0
3            2     1  12/3/17 9:01:20  33.648792 -120.273847    0    0
4            2     1  12/3/17 9:01:40  33.648840 -120.273387    0    0

   Heading  VesselName  IMO  CallSign  VesselType Status  Length  Width  \
0        0           0    2         0        1004    NaN  199.94  32.26
1        0           0    2         0        1004    NaN  199.94  32.26
2        0           0    2         0        1004    NaN  199.94  32.26
3        0           0    2         0        1004    NaN  199.94  32.26
4        0           0    2         0        1004    NaN  199.94  32.26

   Draft  Cargo
0   10.0    NaN
1   10.0    NaN
2   10.0    NaN
3   10.0    NaN
4   10.0    NaN

In [23]:
df.VesselType = df.VesselType.astype('category').cat.codes
print(df.head())
#vesseltype = df.VesselType.describe()
#vesseltype

   COLREG_Type  MMSI     BaseDateTime        LAT         LON  SOG  COG  \
0            2     1  12/3/17 9:00:16  33.648643 -120.275227    0    0
1            2     1  12/3/17 9:00:36  33.648692 -120.274767    0    0
2            2     1  12/3/17 9:01:00  33.648742 -120.274307    0    0
3            2     1  12/3/17 9:01:20  33.648792 -120.273847    0    0
4            2     1  12/3/17 9:01:40  33.648840 -120.273387    0    0

   Heading  VesselName  IMO  CallSign  VesselType Status  Length  Width  \
0        0           0    2         0           1    NaN  199.94  32.26
1        0           0    2         0           1    NaN  199.94  32.26
2        0           0    2         0           1    NaN  199.94  32.26
3        0           0    2         0           1    NaN  199.94  32.26
4        0           0    2         0           1    NaN  199.94  32.26

   Draft  Cargo
0   10.0    NaN
1   10.0    NaN
2   10.0    NaN
3   10.0    NaN
4   10.0    NaN

In [24]:
status = df.Status.describe()
df.Status

0                            NaN
1                            NaN
2                            NaN
3                            NaN
4                            NaN
5                            NaN
6                            NaN
7                            NaN
8                            NaN
9                            NaN
10                           NaN
11                           NaN
12                           NaN
13                           NaN
14                           NaN
15                           NaN
16                           NaN
17                           NaN
18                           NaN
19                           NaN
20                           NaN
21                           NaN
22                           NaN
23                           NaN
24                           NaN
25                           NaN
26                           NaN
27                           NaN
28                           NaN
29                           NaN
                  ...
20555     under way using engine
20556     under way using engine
20557     under way using engine
20558     under way using engine
20559     under way using engine
20560     under way using engine
20561     under way using engine
20562     under way using engine
20563     under way using engine
20564     under way using engine
20565     under way using engine
20566     under way using engine
20567     under way using engine
20568     under way using engine
20569     under way using engine
20570     under way using engine
20571     under way using engine
20572     under way using engine
20573     under way using engine
20574     under way using engine
20575     under way using engine
20576     under way using engine
20577     under way using engine
20578     under way using engine
20579     under way using engine
20580     under way using engine
20581     under way using engine
20582     under way using engine
20583     under way using engine
20584     under way using engine
Name: Status, Length: 20585, dtype: object

In [48]:
length = df.Length.describe()
length

count    20585.00000
mean       213.21632
std         44.30447
min        162.50000
25%        179.90000
50%        199.94000
75%        229.10000
max        332.93000
Name: Length, dtype: float64

In [49]:
width = df.Width.describe()
width

count    20585.000000
mean        33.790273
std          7.884192
min         26.000000
25%         32.200000
50%         32.260000
75%         34.000000
max         58.100000
Name: Width, dtype: float64

In [50]:
draft = df.Draft.describe()
draft

count    20585.000000
mean        11.591188
std          4.042996
min          8.100000
25%          9.600000
50%          9.700000
75%         14.500000
max         22.700000
Name: Draft, dtype: float64

In [26]:
cargo = df.Cargo.describe()
df.Cargo.unique()

array([nan, 81., 90., 70.])

In [8]:
#standard scalar
import numpy as np
from sklearn.decomposition import PCA

((20585, 17),
   COLREG_Type       MMSI     BaseDateTime        LAT         LON  SOG  COG  \
 0  Overtaking  372747000  12/3/17 9:00:16  33.648643 -120.275227    0    0
 1  Overtaking  372747000  12/3/17 9:00:36  33.648692 -120.274767    0    0
 2  Overtaking  372747000  12/3/17 9:01:00  33.648742 -120.274307    0    0
 3  Overtaking  372747000  12/3/17 9:01:20  33.648792 -120.273847    0    0
 4  Overtaking  372747000  12/3/17 9:01:40  33.648840 -120.273387    0    0

    Heading      VesselName          IMO CallSign  VesselType Status  Length  \
 0        0   CYGNUS LEADER   IMO9381249    3EKK5        1004    NaN  199.94
 1        0   CYGNUS LEADER   IMO9381249    3EKK5        1004    NaN  199.94
 2        0   CYGNUS LEADER   IMO9381249    3EKK5        1004    NaN  199.94
 3        0   CYGNUS LEADER   IMO9381249    3EKK5        1004    NaN  199.94
 4        0   CYGNUS LEADER   IMO9381249    3EKK5        1004    NaN  199.94

    Width  Draft  Cargo
 0  32.26   10.0    NaN
 1  32.26   10.0    NaN
 2  32.26   10.0    NaN
 3  32.26   10.0    NaN
 4  32.26   10.0    NaN  )

In [6]:
df.columns

Index(['COLREG_Type', 'MMSI', 'BaseDateTime', 'LAT', 'LON', 'SOG', 'COG',
       'Heading', 'VesselName', 'IMO', 'CallSign', 'VesselType', 'Status',
       'Length', 'Width', 'Draft', 'Cargo'],
      dtype='object')

In [7]:
df['MMSI'].unique()

array([372747000, 538004144, 636091250, 538005479, 259739000, 566341000])